In [1]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [21]:
for i in range(10,20):
    print(i,end=' ')

10 11 12 13 14 15 16 17 18 19

In [35]:
lists=[10,20,14,55,43,87,76]
print(lists)
print("number of items in the list are:",len(lists))

[10, 20, 14, 55, 43, 87, 76]
number of items in the list are: 7

In [37]:
str='Artificial Intelligence'
print(str)
for temp in str:
    print(temp)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [35]:
lists=['-Your Name-','-Your Age-','-Your Profession-']
for temp in lists:
    print(temp)

-Your Name-
-Your Age-
-Your Profession-

In [51]:
t=(1,"Welcome",2,"Hope")
print(t)

(1, 'Welcome', 2, 'Hope')

In [55]:
tuple1=(0,1,2,3)
tuple2=("Python","HOPE")
tuple3=(tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('Python', 'HOPE'))

In [67]:
numbers=(20,10,16,19,25,1,276,188)
print(numbers)
for i in numbers:
    if(i%2==1):
        print(i,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [69]:
numbers=(20,10,16,19,25,1,276,188)
print(numbers)
for i in numbers:
    if(i%2==0):
        print(i,"is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even